@font-face 
{ 	font-family: "Rubik-Regular";
     	src: url('font/Rubik-Regular.ttf');
     }

     @font-face 
     { 	font-family: "Rubik-Light";
              src: url('font/Rubik-Light.ttf');
          }
          @font-face 
          { 	font-family: "Poppins-Medium";
                   src: url('font/Poppins-Medium.ttf');
               }

body , .container-fluid{
    background-color: rgb(238,238,238,0.33);
    
}

.border{
    background-color: white;
    
}
.border_tableau{
    border-radius: 10px;
    background-color: white;
    
}

.moyenne{
    
    height: 10px;
     width: 10px;
    background-color:#F59420;
    border: 5px solid transparent;
    border-radius: 50%;
    display:inline-block;
    
    
}
.msg_non_lus{
    color: #00244D;
}
.hr_msg_non_lus{
   
    height: 2px;
}
.group-inp{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recherche{
    border-radius: 50px;
  border: 1px solid transparent;
  padding: 20px;
  
  height: 10px;
  background-color: #EEEBEB;
  color:#838C9C;
  font-family: "Rubik-Light";
  font-size: 14px;
}
textarea{
    font-family: "Rubik-Light";
}
.messanger{
    border: 1px solid transparent;
    width: 80px;
     height: 3px;
      
      color: black;
}

.moy{
    color: #F59420;
}
.logo{
    
    
    border-radius: 15px;
  background: #00244D;
 
  
}
.list-group li{
    background-color:#DBDDEB;
}
circle , .menu_icone{
    border-spacing: 2px;
    background-color: #838C9C;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 35px;
  height: 35px;
}

.action_jour{
    color: rgb(0,02,44,1);
    font-family: "Poppins-Medium";
    font-size: 17px;
}
.nom_logo{
font-family:"Rubik-Regular" ;
font-size: 15px;
color:rgb(0,38,77,1.00)
}
.avocat_tailor{
    font-family: "Rubik-Regular";
    font-size: 13px;
    color:rgb(0,36,77,0.51)
}

    

.freddie{
    font-size: 15px;
}
.liste_groupe , .list-group-item{
    color: #00244D;
    
}
.en_ecriture{
   color: rgb(0, 38,223,1);
    
}
p{
    font-family: "Rubik-Regular";  
}
.tab_action{
    font-family: "Rubik-Regular";
    font-size: 14px;
    
}
.statut_en_ligne{
    height: 6px;
    width: 7px;
   background-color:#51C41B;
   border: 2px solid transparent;
   border-radius: 50%;
   display:inline-flex;
   white-space:nowrap;

}

.Haute{
    height: 10px;
    width: 10px;
   background-color:#FF0000;
   border: 5px solid transparent;
   border-radius: 50%;
   display:inline-block;

}
tbody {
    color: #838C9C;
}
.haute{
    color: #FF0000;
}

.Faible{
    height: 10px;
    width: 10px;
   background-color:#51C41B;
   border: 5px solid transparent;
   border-radius: 50%;
   display:inline-block;
}
.faible{
    color: #51C41B;
}
.parametre{
    background-color: #00244D;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 35px;
  height: 35px;
  
}
tbody {
    font-family: "Rubik-Regular";
    font-size: 14px;
    color:#838C9C;
}


thead{
    background-color: rgb(207, 226, 255,0.33);
    font-family: "Rubik-Regular";
    color: rgb(0,02,44,1);
    font-size: 14px;
    
}

.tab_active{
    background-color: rgb(238,238,238,0.51);
    
}
.message{
    height: 7px;
    width: 7px;
   background-color:black;
   border: 1px solid transparent;
   border-radius: 50%;
   display:inline-block;
}
.msg_envoye{
    border:1px solid transparent;
    border-radius: 20px 20px 0px 20px;
    background-color: #526DFD;
    
    color: white;
}
.msg_reçu{
    border-bottom:1px solid transparent;
    border-radius: 20px 20px 20px 0px;
    background-color: #EFF1F3;
    width: max-content;
}

.hr_menu{
    margin-top: 5px;
}
.hr_msg{
    margin-top: 2px;
}
.bordure{
    border: 1px solid transparent;
    background-color: #F6F7FD;
    border-spacing: none;
    height: 80px;
    width: 806px;
}
.ecrire{
    border:1px solid #E9E9E9 ;
    border-radius: 30px;
    font-family: "Rubik-Light";
    height: 50px;
}
  
.btn:focus{
    border:1px solid transparent;
    border-radius: 80px;
        background:#DCDCDC;
        
       
width: max-content;
    
}
.transfer_msg{
    border:1px solid transparent;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: #526DFD;
}
.nom{
    color: #00244D;
    font-size: 15px;
   
}
.roger{
    color:#00244D ;
    font-size: 15px;
}
textarea{
    border:1px solid transparent;
}

.icone_color{
    color: white;
}

 
.submit-msg-btn {
    background: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 70px;
    border: none;
    display: flex;
    padding-right: 0px;
   
    justify-content: center;
    align-items: center;
}
.mca_ip{
    border: 1px solid transparent;
}

.freddie{
    font-family: "Rubik-Regular";
    font-size:15px;
    color:rgb(0,02,44,1);
    opacity: 100%;
}







.hr_footer{
    margin-top: 50px;
}





.scroller {
    position: relative;
   left: 5%;
    height:780px;
    overflow-y: scroll;
   
   
    
  }
  
  
  .logo_legalprod {
      position: absolute;
      bottom: 0px;
      left: 20%;
  }
  .menu_image {
    position: absolute;
    right:0px;
    bottom: 55%;
  }
  .icon-button__badge {
      position:absolute;
  top:7%;
    
    width: 19px;
    height: 19px;
    background: #F10C14;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  
@media (min-width: 1500px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1000px;
    }
}